* {
  box-sizing: border-box;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background-color: #d2f6c5;
}

button {
  background-color: #99f3bd;
  border: 2px solid black;
  border-radius: 4px;
  font-weight: bold;
  height: 45px;
  width: 120px; 
  margin: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #f6f7d4;
  font-size: 1em;
}

/* Header */
header {
  margin: 0 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid black;
}

.title {
  text-align: center;
  margin: 0;
}


/* Side Bar */



.menu {
  background-color: #d2f6c5;
  border: none;
  cursor: pointer;
  transition: all 0.5s;
  margin: 0 0 0 20px;
  height: 47px;
  width: 41px;
}

.menu:hover{
    transform: rotate(90deg) translate(0px);
    background-color: #d2f6c5;
}

.menu div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.side-bar{
  height: 100vh;
  border: none;
  position: absolute;
  width: 0px;
  z-index: 1;
  background-color: #28df99;
  transition: all 0.5s;
  text-align: center;
  box-shadow: 5px 5px 10px grey;
}



.side-bar-visible{
  width: 300px;
  border-right: 2px solid black;
}

.side-bar ul {
  padding: 0;
}

.side-bar li, .side-bar h2, .side-bar h3 {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
}

#side-bar-title {
  padding: 20px 0 10px 0px;
}

#own-time-title {
  padding: 50px 0 10px 0px;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90px;
}


.instructions {
  border: 3px solid black;
  height: 30px;
  width: 30px;
  margin: 0 20px 0 0;
  cursor: pointer;
  text-align: center;
  padding: 2px;
  border-radius: 50%;
}

.sound {
  padding: 6px 0 0 0;
  border: none;
  background-color: #d2f6c5;
  margin: 0 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.sound:hover {
  font-size: 20px;
}

.instructions:hover {
  height: 35px;
  width: 35px;
  font-size: 20px;

}





/* Game body */

.game-body {
  position: relative;
  margin: 40px auto;
  max-width: 799px;
}

.grid-wrapper {
  height: 80vh;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 799px;
  border: 2px solid black;
}


.grid-wrapper div {
  width: 10%;
  border: black 1px solid;
  height: 10%;
}

.timer-and-score-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}


.timer,
.score {
  border: 2px solid black;
  width: 100px;
  text-align: center;
  border-radius: 5px;
}


.successful-path {
  background-color: #f6f7d4;
}


.starting-square {
  background-color: #28df99;
}

.finishing-square {
  background-image:
      linear-gradient(45deg, black 25%, transparent 25%), 
      linear-gradient(135deg, black 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, black 75%),
      linear-gradient(135deg, transparent 75%, black 75%);
    background-size:50% 50%; /* Must be a square */
    background-position:0 0, 50% 0, 50% -50%, 0px 50%;
}

.fake-path {
  background-color: #f6f7d4;
}

.player-follower {
  background-color: #99f3bd;
}


.ball {
  background-color: #28df99;
}

.gold-coin {
  background-image: url(../images/us-dollar-coin-color.png);
  background-size: 50% auto;
  background-repeat: no-repeat;
  background-position: center;
  /* animation: rotation 2s infinite linear; */
}

  /* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */


.starter-screen {
  background-color: grey;
  background-image: none;
  border: none !important;
}

.start-menu-display, 
.loser-display,
.winner-display {
  background-color: #28df99;
  border: 2px solid black;
  text-align: center;
  max-width: 500px;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}


.show-successful-path {
  background-color: rgb(252, 129, 150);
}


.show-answer {
  text-align: center;
  margin: 0 auto;
  visibility: hidden;
}


.overlay {
  height: 100%;
  width: 100%;
  background-color: #28df99;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: left;
  visibility: hidden;
}

.inner-overlay {
  margin: 0 30%;
  border-left: 3px solid black;
  border-right: 3px solid black;
  height: 100vh;
  padding: 15px;
  position: relative;
  background-color: #f6f7d4;
}

.inner-overlay h2{
  text-align: center;
}

.inner-overlay h3{
  margin: 0 0 -10px 0;;
  padding: 0;
  font-weight: bold;
}

.close-instructions{
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

hr {
  background-color: black;
  height: 1px;
  border: none;
  margin: 40px 20px;
}

